.titulo-encabezado{
    color: #5067c5;
    width: 100vh;
    text-align: center;
}

.landign{
    height: 90.5vh;
    width: 100vw;
    background-color: #5067c5;
}

.frase{
    font-size: x-large;
    color: white;
}